/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: #f4f4f4;
}

body.dark-mode .container {
    background-color: #1e1e1e;
    box-shadow: none;
}

body.dark-mode h1, body.dark-mode h2 {
    color: #f4f4f4;
}

body.dark-mode input[type="text"] {
    background-color: #333;
    border: 1px solid #555;
    color: #f4f4f4;
}

body.dark-mode button {
    background-color: #555;
}

body.dark-mode button:hover {
    background-color: #777;
}

body.dark-mode table th {
    background-color: #333;
}

body.dark-mode table td {
    border-color: #444;
}